<!-- This is the Footer html code -->
<ion-footer>
  <div class="custom-footer">
    <ion-toolbar class="days-toolbar">
      <ion-title class="days-left-text">
        {{ footer.daysLeft }} day{{ footer.daysLeft === 1 ? '' : 's' }} left until {{ footer.targetDate | date: 'longDate' }}
      </ion-title>

      <!-- Dark Mode Toggle Icon on the right -->
      <ion-buttons slot="end">
        <ion-button (click)="toggleDarkMode()">
          <ion-icon class="dark-mode-icon" [name]="footer.isDarkMode ? 'sunny' : 'moon'"></ion-icon>
        </ion-button>
    </ion-buttons>
    </ion-toolbar>
  </div>
</ion-footer>
