<app-header title="Food Menu"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab8</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- Monday -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Monday 9th December</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label><strong>Soup</strong>: Soup of Mushroom & Chicken</ion-label>
          </ion-item>
          <ion-item>
            <ion-label><strong>Main Meal</strong>: Chicken Drumsticks with Garlic & Fresh Herbs Potato</ion-label>
          </ion-item>
          <ion-item>
            <ion-label><strong>Vegetable</strong>: Cauliflower Cheese (V)(GF)</ion-label>
          </ion-item>
          <ion-item>
            <ion-label><strong>Pasta</strong>: Sauteed Vegetables & Fresh Herbs</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  
    <!-- Tuesday -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Tuesday 10th December</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label><strong>Soup</strong>: Lentil & Vegetables (V)(GF)</ion-label>
          </ion-item>
          <ion-item>
            <ion-label><strong>Main Meal</strong>: Cottage Pie</ion-label>
          </ion-item>
          <ion-item>
            <ion-label><strong>Vegetable</strong>: French Beans (V)(GF)</ion-label>
          </ion-item>
          <ion-item>
            <ion-label><strong>Pasta</strong>: Cream Chicken & Spinach (V)(GF)</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  
    <!-- Wednesday -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Wednesday 11th December</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label><strong>Soup</strong>: Spicy Potato (V)</ion-label>
          </ion-item>
          <ion-item>
            <ion-label><strong>Main Meal</strong>: Grilled Maltese Sausage in Onion Gravy with Mash</ion-label>
          </ion-item>
          <ion-item>
            <ion-label><strong>Vegetable</strong>: Peas & Carrots (V)(GF)</ion-label>
          </ion-item>
          <ion-item>
            <ion-label><strong>Pasta</strong>: Mac & Cheese</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  
    <!-- Thursday -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Thursday 12th December</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label><strong>Soup</strong>: Cream of Sweetcorn (GF)</ion-label>
          </ion-item>
          <ion-item>
            <ion-label><strong>Main Meal</strong>: Chicken Thighs Mushroom Sauce Potato Wedges</ion-label>
          </ion-item>
          <ion-item>
            <ion-label><strong>Vegetable</strong>: Mixed Vegetables (V)(GF)</ion-label>
          </ion-item>
          <ion-item>
            <ion-label><strong>Pasta</strong>: Egg Fried Rice & Vegetable</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
  



</ion-content>
