//Css for back button
.back-button{
    color: black;
}

//Text css
.ion-title-text{
    color:#444;
    position: absolute;
    left: 30%;
    top: 25%;
    text-align: center;
}

//Made sure that the header sticks to the top and adjusted the height
.toolbar {
    position: relative;
    height: 56px;
}

//Dark mode css
body.dark ion-toolbar {
    --background: #1e1e1e;
    --color: #ffffff;
}

body.dark ion-title,
body.dark ion-icon {
    color: #ffffff !important;
}