.back-button{
    color: black;
}

.ion-title-text{
    color:#444;
    position: absolute;
    left: 30%;
    top: 25%;
    text-align: center;
}

.toolbar {
    position: relative;
    height: 56px;
}

body.dark ion-toolbar {
    --background: #1e1e1e;
    --color: #ffffff;
}

body.dark ion-title,
body.dark ion-icon {
    color: #ffffff !important;
}