/*  Layout and Spacing  */
.custom-toolbar {
    padding: 0 12px;
    height: 56px;
    display: flex;
    align-items: center;
  }
  
  .header-row {
    display: flex;
    align-items: center;
    gap: 10px; // spacing between back icon and title
  }
  
  /* Back Icon */
  .back-button {
    color: black;
    width: 35px;
    height: 35px;
  }
  
  /* Title Text */
  .ion-title-text {
    color: #444;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
  }
  
  /*  Dark Mode  */
  body.dark .back-button,
  body.dark .ion-title-text {
    color: white !important;
  }
  
  body.dark ion-toolbar {
    --background: #1e1e1e;
  }
  
/* Dark Mode Overrides */
::ng-deep body.dark .back-button {
    color: white !important;
  }
  
  ::ng-deep body.dark .ion-title-text {
    color: white !important;
  }
  