<app-header title="Internships"></app-header>


<ion-content [fullscreen]="true">
  <ion-card class="card">
    <img src="assets/images/internship1.png"  alt="Image" class="card-image" >
    <div class="card-image-container">      
      <div class="class-overlay">
        <h2 class="title">Software developer</h2>
      </div>
    </div>
    <ion-card-content>
      <p>Required to know: JavaScript, Python, SQL, HTML, CSS</p>
      
    </ion-card-content>
    <div class="button-wrapper">
    <ion-button fill="outline" class="info-button" size="small" (click)="openLink('https://mita.gov.mt')">More Info</ion-button>  
  </div>
  </ion-card>

  <ion-card class="card">
    <img src="assets/images/bovLogo.jpeg"  alt="Image" class="card-image" >

    <div class="card-image-container">      
      <div class="class-overlay">
        <h2 class="title">Banking Associate</h2>
      </div>
    </div>
    <ion-card-content>
      <p>Required to know: Communication skills, Accounting, Economics, Finance</p>
      
    </ion-card-content>
    <div class="button-wrapper">
    <ion-button fill="outline" class="info-button" size="small" (click)="openLink('https://www.bov.com/careers')">More Info</ion-button>  
  </div>
  </ion-card>

  <ion-card class="card">
    <img src="assets/images/tvm_logo.jpg"  alt="Image" class="card-image"/>

    <div class="card-image-container">      
      <div class="class-overlay">
        <h2 class="title">Journalist</h2>
      </div>
    </div>
    <ion-card-content>
      <p>Required to know: English, Interviewing skills, Multimedia skills</p>
      
    </ion-card-content>
    <div class="button-wrapper">
    <ion-button fill="outline" class="info-button" size="small" (click)="openLink('https://tvmnews.mt/en/jobs/')">More Info</ion-button>  
  </div>
  </ion-card>

  
</ion-content>
