<app-header title="Internships"></app-header>

<ion-content [fullscreen]="true">

  <!-- Search bar -->
  <ion-searchbar 
    [(ngModel)]="searchTerm" 
    (ionInput)="onSearchChange()" 
    placeholder="Search internships...">
  </ion-searchbar>

  <ion-item>
    <ion-label>Filter by Category</ion-label>
    <ion-select [(ngModel)]="selectedCategory" (ionChange)="onSearchChange()">
      <ion-select-option value="All">All</ion-select-option>
      <ion-select-option value="IT">IT</ion-select-option>
      <ion-select-option value="Finance">Finance</ion-select-option>
      <ion-select-option value="Media">Media</ion-select-option>
    </ion-select>
  </ion-item>
  
  <!-- Internship cards -->
  <ion-card *ngFor="let internship of filteredInternships" class="card">
    <img [src]="internship.image" alt="Image" class="card-image">
    <div class="card-image-container">      
      <div class="class-overlay">
        <h2 class="title">{{ internship.title }}</h2>
      </div>
    </div>
    <ion-card-content>
      <p>{{ internship.description }}</p>
    </ion-card-content>
    <div class="button-wrapper">
      <ion-button fill="outline" class="info-button" size="small" (click)="openLink(internship.link)">More Info</ion-button>  
    </div>
  </ion-card>

  <br><br><br><br><br><br>
  <app-footer></app-footer>

</ion-content>