<!-- HTML code for the News Updates page -->
<app-header title="News Updates"></app-header>

<ion-content>
  <div class="news-section">
    <h2 class="section-title">MCAST News Updates</h2>

    <div class="news-card" *ngFor="let item of news">
      <img [src]="item.image" alt="news image" />
      <div class="news-details">
        <p>{{ item.title }}</p>
        <ion-button fill="outline" class="info-button" size="small" (click)="openLink(item.link)">
          More Info
        </ion-button>
      </div>
    </div>
  </div>

  <br>
  <br>
  <app-footer></app-footer>
</ion-content>
