.feature-card {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.absent-lecturers {
  background-color: green;
}

.academic-calendar {
  background-color: #007bff; 
}

.news-updates {
  background-color: orange;
}

.timetables {
  background-color:  rgb(126, 28, 126);
}

ion-content {
  --background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/assets/images/backgroundImg.png') no-repeat center center / cover;
}
  
ion-toolbar{
  --background: white;
}
