<!-- HTML code for the Home page -->
<ion-header translucent>
  <ion-toolbar class="home-toolbar">
    <img [src]="footer.logoUrl" class="logo-img" alt="McastLogo" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    
    <ion-row>
      <ion-col size="6">
        <ion-card button routerLink="/tabs/tab2" class="feature-card absent-lecturers">
          <ion-card-content>
            
            <ion-label>Absent Lecturers</ion-label>
            <br>
            <ion-icon name="people-outline" class="large-icon"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card button routerLink="/tabs/tab3" class="feature-card academic-calendar">
          <ion-card-content>
            
            <ion-label>Academic Calendar</ion-label>
            <br>
            <ion-icon name="calendar-outline" class="large-icon"></ion-icon>
            <br>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="6">
        <ion-card button routerLink="/tabs/tab4" class="feature-card news-updates">
          <ion-card-content>
            
            <ion-label>News Updates</ion-label>
            <br>
            <ion-icon name="newspaper-outline" class="large-icon"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card button routerLink="/tabs/tab5" class="feature-card timetables">
          <ion-card-content>
            
            <ion-label>Timetables</ion-label>
            <br>
            <ion-icon name="time-outline" class="large-icon"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="4">
        <ion-card button routerLink="/tabs/tab6" class="feature-card guidelines">
          <ion-card-content>
            
            <ion-label>Guidelines</ion-label>
            <br>
            <ion-icon name="document-text" class="small-icon"></ion-icon>

          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card button routerLink="/tabs/tab7" class="feature-card handbook">
          <ion-card-content>
            
            <ion-label>Handbook</ion-label>
            <br>
            <ion-icon name="book-outline" class="small-icon"></ion-icon>

          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card button routerLink="/tabs/tab8" class="feature-card food-menu">
          <ion-card-content>
            
            <ion-label>Food Menu</ion-label>
            <br>
            <ion-icon name="restaurant-outline" class="small-icon"></ion-icon>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="4">
        <ion-card button routerLink="/tabs/tab9" class="feature-card clubs">
          <ion-card-content>
            
            <ion-label>Clubs</ion-label>
            <br>
            <ion-icon name="people-circle-outline" class="small-icon"></ion-icon>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card button routerLink="/tabs/tab10" class="feature-card well-being">
          <ion-card-content>
            <ion-label>Well-being</ion-label>
            <br>
            <ion-icon name="heart-outline" class="small-icon"></ion-icon>
            
            
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card button routerLink="/tabs/tab11" class="feature-card internships">
          <ion-card-content>
            <ion-label>Internships</ion-label>
            <br>
            <ion-icon name="briefcase-outline" class="small-icon"></ion-icon>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    

    <ion-row>
      <ion-col size="12">
        <ion-card button routerLink="/tabs/tab12" class="campus-map">
          <ion-card-content>
            <ion-label>Campus Map</ion-label>
            <br>
            <ion-icon name="map-outline" class="small-icon"></ion-icon>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
