.timetable-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    overflow: hidden;
}

.timetable-image-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.timetable-card{
    margin-top: 50%;
    background-color: rgba(0, 0, 0, 0.6); 
}

ion-content {
    --background: linear-gradient(rgba(0, 0, 0, 0.482), rgba(0, 0, 0, 0.4)), url('/assets/images/timetableBackground.jpg') no-repeat center center / cover;
}

.class-color{
    color: white;
}

.button {
    --background: rgb(128, 128, 128);
    --border-color: white;
    font-weight: bold;
    border-radius: 4px;
    justify-content: center;
    display: flex;
}