//This is the code for the map
.map-container {
    width: 1500px;
    height: 1000px;
    overflow: scroll;
    position: absolute;
    display: inline-block;
    white-space: nowrap;
}

.map-image {
    width: 1500px;
    height: 1000px;
    user-select: none;
    -webkit-user-drag: none; 
}


ion-content{
    --background: transparent;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

//Allows user to naivgate through the map and move it
.map-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: scroll;
}

//Adjusting the map controls to make the buttons look better
//I created this class because I was planning on having multiple
//buttons such as zoom in and out, but these where scrapped.
.map-controls {
    position: fixed;
    top: 14%;
    right: 4%;
    z-index: 10;
    display: flex;
    flex-direction: column;
}
