<app-header title="Academic Calendar"></app-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Academic Calendar</ion-title>
    </ion-toolbar>
  </ion-header>

  

  <a href="assets/pdf/MCAST-Calendar.pdf" download="mcast-2024-2025.pdf" >
    <ion-card>
      <img alt="Silhouette of mountains" src="assets/images/mcast-calendar.png" />
      <ion-card-header>
        <ion-card-title>2024-2025</ion-card-title>
        <ion-card-subtitle>MCAST</ion-card-subtitle>
      </ion-card-header>
    
      
      <ion-card-content>
        Click to download the PDF.
      </ion-card-content>
    </ion-card>
  </a>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>MCAST Academic Calendar</ion-card-title>
      <ion-card-subtitle>2024–2025 Key Dates</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>15th January to 28th June: Call for Applications – International students</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>15th July to 14th August: Student applications – First call</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>1st September: Start of Academic Year (no lectures)</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>23rd to 27th September: Induction week for MQF Level 3 and above programmes</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>30th September to 4th October: Post MATSEC results call – Second Call</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>1st October: Academic year opening + Semester 1 starts (Level 3+)</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>7th October: Semester 1 begins for Levels 1 and 2</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>7th to 11th October: Campus Day / Fresher’s Week</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>1st to 18th October: MQF Level 3–6 course transfers (Registered Yr 1)</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>7th to 31st October: MQF Level 1–2 course transfers (Registered Yr 1)</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>1st to 5th November: Holidays – No lectures</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>21st November to 4th December: Award Giving Ceremonies</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>6th December: Graduation Ceremonies + Gozo Graduation</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>20th December: Last college day before Christmas Recess</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>23rd December to 3rd January: Christmas Recess</ion-label>
        </ion-item>
        
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>6th January 2025: Continuation of Semester 1 lectures</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>24th January 2025: Last day of Semester 1 (Lectures as per timetable)</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>27th to 31st January 2025: Marking/Assessment days – No lectures</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>3rd February 2025: Start of Semester 2 lectures (all programmes)</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>3rd–4th March 2025: Replacement of Public Holidays (weekend) – No lectures</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>16th to 25th April 2025: Easter Recess</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>28th April 2025: Continuation of Semester 2 lectures</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>27th June 2025: Last day of academic year (excluding final year ICA)</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>10th July 2025: CMIS results published (excluding dissertations)</ion-label>
        </ion-item>
  
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="calendar icon" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>11th July to 29th August 2025: Summer Recess</ion-label>
        </ion-item>
  
      </ion-list>
    </ion-card-content>
  </ion-card>
  

  
  
</ion-content>
