<!-- HTML code for the Student Handbook page -->
<app-header title="Student Handbook"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab7</ion-title>
    </ion-toolbar>
  </ion-header>


  <a href="assets/pdf/Handbook_ST_2024_2025.pdf" download="mcast-handbook-2024-2025.pdf" >
    <ion-card>
      <img alt="Handbook Image" src="assets/images/Handbook.png" />
      <ion-card-header>
        <ion-card-title>Handbook PDF</ion-card-title>
        <ion-card-subtitle>MCAST</ion-card-subtitle>
      </ion-card-header>
    
      
      <ion-card-content>
        Click to download the PDF.
      </ion-card-content>
    </ion-card>
  </a>

  <app-footer></app-footer>
</ion-content>
