<!-- HTML code for the Clubs page -->
<app-header title="Clubs"></app-header>

<ion-content>
  <div class="clubs-section">
    <h2 class="section-title">MCAST Clubs</h2>
    <p class="section-subtitle">Join a club, meet new people & have fun!</p>

    <div class="club-card" *ngFor="let club of clubs">
      <ion-icon [name]="club.icon"></ion-icon>
      <h3>{{ club.name }}</h3>
      <p>{{ club.description }}</p>

      <ion-button expand="block" fill="outline" size="small" (click)="openJoinForm(club.name)">
        Join Now
      </ion-button>
    </div>
  </div>

  <br>
  <br>
  <app-footer></app-footer>
</ion-content>
