<ion-header translucent>
  <ion-toolbar>
    <img src="/assets/images/Logo2.png" style="width: 230px; height: auto;" alt="McastLogo">
  </ion-toolbar>
</ion-header>

<app-header title="Absent Lecturers"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="absent-card">
    <h1><u><strong>Lecturer’s absent Today</strong></u></h1>
    
    <p> Mr. Dominic Tringali</p>
    <p> Mr. Nico Conti</p>
    <p> Ms. Nadia Haber</p>
    <p> Ms. Claire Vella</p>
  </div>
</ion-content>
